.display_back
{
    width: 100%;
    height: 542px;
    padding-top: 20px;

    background-color: #f0f8ff;
    -webkit-box-shadow: 2px 2px 2px #333;
            box-shadow: 2px 2px 2px #333;
}

.display_back .display_body
{
    width: 1200px;
    height: 502px;
    margin: 0 auto;

    border-radius: 16px;
    background-color: white;
}

.display_back .display_body .display_head
{
    width: 1200px;
    height: 402px;

    border-radius: 16px 16px 0 0 ;
}

.display_back .display_body .display_head #myFocus
{
    position: relative;

    width: 1200px;
    height: 402px;
    margin: 0 auto;

    border-radius: 16px 16px 0 0 ;
}

.display_back .display_body .display_head #myFocus .pic img
{
    width: 1200px;
    height: 402px;
}

.display_back .display_body .display_foot
{
    width: 1200px;
    height: 100px;

    color: black;
    border-radius: 0 0 16px 16px ;
}

.display_back .display_body .display_foot .display_tab p
{
    font-size: 14px;

    color: black;
}

.display_back .display_body .display_foot .display_tab td
{
    width: 400px;
    padding-top: 2px;

    text-align: center;
}

.display_back .display_body .display_foot .display_tab .speed
{
    display: inline-block;

    width: 36px;
    height: 36px;

    background-size: 100%;
}
.display_back .display_body .display_foot .display_tab .gover
{
    display: inline-block;

    width: 36px;
    height: 36px;

    background-size: 100%;
}
.display_back .display_body .display_foot .display_tab .money
{
    display: inline-block;

    width: 36px;
    height: 36px;

    background-size: 100%;
}
