#head{
		    background-color: #222222;
		    height: 50px;
		    width: 100%;
		    margin: 0 auto;
		    
		    -webkit-box-shadow:2px 2px 5px #333333;
		    
		            box-shadow:2px 2px 5px #333333; 
		}
		.logo{
			text-decoration: none;
		    position: absolute; left: 16.667%;
		    padding-left: 18px;
		    font-weight: bolder;
		    font-size: 18px;
		    width: 320px;
		    height: 50px;
		    line-height: 50px;
		    color: white;
		    font-family: Arial;
		    background-color: #222222;
		    border-radius: 4px;
		}

		.Navigation{
		    
		    height: 50px;
		    margin: 0 10% 0 40%;
		    background-color:#222222;
		}
		#navi{
		            border-radius: 5px;
		            list-style: none;
		            height: 50px;
		            margin-top: 0;
		            background-color: #222222;
		            
		        }
		#navi li{
		            
		            float: left;
		        }
		#navi a{
		            text-decoration: none;
		            display: block;
		            height: 50px;
		            line-height: 50px;
		            width: 120px;
		            margin-bottom: 1px;
		            text-align: center;
		            font-size: 18px;
		            font-weight: bold;
		            color: white;
		            background-color: #080808;
		        }
		        .on,#navi a:hover{
		            background-color: #222222;
		            color: white;
		            height: 50px;
		            line-height: 50px;
		            cursor: pointer;
		            text-align: center;
		        }