.nav{
	background-color: #222222;
	height: 50px;
	width: 100%;
	-webkit-box-shadow:2px 2px 5px #333333;
	        box-shadow:2px 2px 5px #333333; 
}

.nav .nav_title{
	font-weight: bolder;
	float: left;
	color: #ffffff;
	font-size: 150%;
	line-height: 50px;
	padding:0 200px;
	position: relative;
}

.nav .nav_list{
	margin: 0 auto;
	border:0; 
	border-radius: 5px;
	height: 50px;
	background-color: #222222;
}

.nav .nav_list li{
    float: left;
}

.nav .nav_list a{
	color: #ffffff;
	display: block;
	height: 50px;
	line-height: 50px;
	width: 120px;
	text-align: center;
	font-size: 150%;
	font-weight: bold;
	background-color: #080808;
}

.nav .nav_list .on{
    background-color: #222222;
    color: white;
    height: 50px;
    line-height: 50px;
    cursor: pointer;
    text-align: center;
}

.nav .nav_list #navi .on,#navi a:hover{
	background-color: #222222;
	color: white;
	height: 50px;
	line-height: 50px;
	cursor: pointer;
	text-align: center;
}