@w: #fff;
@title-color: #FF0000;
@msg: #000000;
@fz: 12px;
@headc: #66CD00;
.auctioninfo{
	cursor: pointer;
	border-radius: 4px;
	height: 322px;
	overflow: hidden;
	margin-top: 9px;
	transition: all .5s ease-in-out;
	.auctioninfo-head{
		position: relative;
		height: 40px;
		line-height: 40px;
		background-color: @headc;
		color: @w;
		font-size: @fz+2px;
		margin-bottom: 20px;
		.head-words{
			float: left;
			padding-left: 20px;
		}
		.head-more{
			float: right;
			padding-right: 20px;
		}
	}
	.auctioninfo-body{
		.newsshow {
				display: none;
			}
		.auctioninfo-body-item{
			height: 52px;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			.new {
				position: relative;
			  margin-left: 20px;
			  width: 34px;
			  height: 16px;
			  line-height: 16px;
			  border-radius: 2px;
			  font-size: @fz;
			  float: left;
			  background: red;
			  color: #fff;
			}
			li{
				position: relative;
				padding-bottom: 8px;
				letter-spacing:2px;
				text-align: left;
				margin-left: 80px;
			}
			.delnew{
				float: right;
				margin-right: 15px;
			}
		}
	}
}
// .auctioninfo:hover{
// 	-webkit-box-shadow:2px 2px 5px #9E9E9E;
// 		            box-shadow:2px 2px 5px #9E9E9E;
// }

