@fz: 1em;
@active: #1976D2;

.detail-wrap{
	margin-top: 80px;
	width: 100%;
	min-height: 130em;
	padding: 2em 0;
	display: block;
	cursor: pointer;
	.detail-body{
		position: relative;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack:start;
		    -ms-flex-pack:start;
		        justify-content:flex-start;
		width: 1200px;
		height: 100%;
		margin: 0 auto;
		.detail-left{
			width: 120px;
			height: 100%;
			.detailnav{
				position: absolute;
				width: 120px;
				height: 100%;
				text-align: center;
			}
			h1{
				font-weight: 600;
				color: #fff;
				font-size: @fz*4;
				vertical-align: baseline;
				padding: 15px;
			}
			ul{
				overflow: hidden;
			    border-top: 1px solid rgba(0, 0, 0, .15);
			    border-bottom: 1px solid rgba(255, 255, 225, .14);
			}
			li:hover{
				cursor: pointer;
				border-bottom: 1px solid rgba(255, 255, 255, .15);
			}
			li{
				font-size: 15px;
			    color: #fff;
			    padding: 10px;
			    font-weight: 400;
			    text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
			    border-bottom: 1px solid rgba(0, 0, 0, .15);
			    border-top: 1px solid rgba(255, 255, 225, .14);
			}
		}
		.detail-right{
			width: 1080px;
			height: 100%;
			min-height: 130em;
			position: relative;
			background-color: #f9f9f9;
			float: right;
			border-bottom: 1px solid #dedede;
			border-right: 1px solid #dedede;
		}

	}
}
