@import 'base.less';

// info页面样式
.infodetail-wrap {
  height: 100%;
  min-height: 130em;
  background: rgb(227, 232, 238);
}

.infodetail-body {
  display: block;
  height: 100%;
}

.infodetail-body-top {
  position: relative;
  overflow: hidden;
  padding: 12px 20px;
  background-color: #009bff;
}

.infodetail-body-top-content {
  font-size: 1.4em;
  line-height: 30px;
  float: right;
  color: #fff;
}

.infodetail-body-wrap {
  overflow: hidden;
  height: 97.33%;
  padding: 0 10px;
}

.infode-head {
  height: 118px;
  padding: 0 40px 20px 10px;
  color: #000;

  p {
    font-size: 1em;
  }

}

.infode-body {
  font-weight: normal;
  height: 100%;
  padding: 0 20px 20px 20px;
  text-align: left;
  text-indent: 20px;
  letter-spacing: 3px;
}

.infode-foot {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

// iview tabs样式
.demo-tabs-style1 > .ivu-tabs-card > .ivu-tabs-content {
  height: 100%;
  margin-top: -16px;
}

.demo-tabs-style1 > .ivu-tabs-card > .ivu-tabs-content > .ivu-tabs-tabpane {
  line-height: 26px;
  height: 100%;
  padding: 16px;
  background: #fff;
}

.demo-tabs-style1 > .ivu-tabs.ivu-tabs-card > .ivu-tabs-bar .ivu-tabs-tab {
  border-color: transparent;
}

.demo-tabs-style1 > .ivu-tabs-card > .ivu-tabs-bar .ivu-tabs-tab-active {
  border-color: #fff;
}

.demo-tabs-style2 > .ivu-tabs.ivu-tabs-card > .ivu-tabs-bar .ivu-tabs-tab {
  border-radius: 0;
  background: #fff;
}

.demo-tabs-style2 > .ivu-tabs.ivu-tabs-card > .ivu-tabs-bar .ivu-tabs-tab-active {
  border-top: 1px solid #39f;
}

.demo-tabs-style2 > .ivu-tabs.ivu-tabs-card > .ivu-tabs-bar .ivu-tabs-tab-active:before {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 1px;
  content: '';
  background: #39f;
}

// 拍卖预告详情 previewdetail页面的样式
.previewdetail-wrap {
  font-family: @fm-Content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: block;
  min-height: 50em;
  margin-top: 80px;
  padding: 2em 0;
  cursor: pointer;
}

.previewdetail-nav {
  width: 100%;
  height: 50px;
  border-bottom: 5px solid #080808;
  background-color: rgba(35, 35, 35, .1);
}

.pre-nav-li {
  width: 1200px;
  margin: 0 auto;
}

.pre-nav-li ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
}

.pre-nav-li li {
  line-height: 45px;
  width: 240px;
  height: 45px;
  text-align: center;
}

.pre-nav-li li:hover {
  -webkit-animation: navhover .6s;
  animation: navhover .6s;
  color: #fff;
  background-color: #080808;
}

.previewdetail-body {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
}

.previewdetail-information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  padding: 2em 10px;
  color: @Title;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.previewdetail-img {
  overflow: hidden;
  width: 418px;
  height: 418px;
  border: 1px solid @Border;
}

.previewdetail-information-right {
  width: 730px;
  background-color: #fff;
}

.pre-info-right-title {
  font-weight: 700;
  width: 730px;
  background-color: #fff;
}

.pre-info-right-title h2 {
  font-weight: 500;
  line-height: 1;
  padding: 20px 10px 12px;
  color: #000;
}

.pre-info-right-detail {
  line-height: 3;
  padding: 0 10px 0 8px;
}

.pre-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  padding: 0 10px 0 8px;
  border-radius: 4px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.pre-content-wrap {
  width: 356px;
  flex-flow: column wrap;
}

.pre-info-right-detail span {
  margin: 0 10px;
}

.pre-info-right-warning {
  font-size: @fz-SmallHead;
  line-height: 2;
  width: 330px;
  margin: 10px 0;
  border: 3px solid #39f;
  border-radius: 4px;
}

.pre-info-right-warning p {
  padding: 0 10px;
  text-indent: 16px;
}

.pre-warning-title {
  font-size: @fz-MainHead;
  text-align: center;
  color: #fff;
  background-color: #39f;
}

.timeToEnd {
  line-height: 1.5;
}

.timeShow {
  font-size: 26px;
  display: flex;
  flex-direction: row;
}

.timeorange {
  color: @LightPrimary;
}

.timered {
  color: @Error;
}

.timeShow div {
  width: 40px;
  height: 40px;
  animation: jump 1s infinite;
  text-align: center;
  border: 2px solid;
  border-radius: 20px;
}

.timeShow div::before {
  display: block;
  clear: both;
  content: '';
}

.timeShow div::after {
  display: block;
  clear: both;
  content: '';
}

.timeShow strong {
  padding: 0 5px;
}

.timeShow strong::before {
  display: block;
  clear: both;
  content: '';
}

.timeShow strong::after {
  display: block;
  clear: both;
  content: '';
}

.previewdetail-information-bottom {
  font-weight: normal;
  line-height: 2;
  width: 1200px;
  margin-top: 30px;
  text-align: left;
  text-indent: 20px;
  letter-spacing: 3px;
}

@keyframes jump {
  0% {
    transform: translate(0px, 0px);
  }

  50% {
    transform: translate(0px, -10px);
  }

  100% {
    transform: translate(0px, 0px);
  }

}

@-webkit-keyframes navhover {
  from {
    font-size: 25px;
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
    background-color: @SubColor;
  }

  to {
    font-size: 16px;
    background-color: #080808;
  }

}

@keyframes navhover {
  0% {
    font-size: 25px;
    background-color: @SubColor;
  }

  50% {
    background-color: #4f4f4f;
  }

  100% {
    font-size: 16px;
    background-color: #080808;
  }

}
