

// info页面样式
.info-body{
    display: block;
}
.info-body-top{
    background-color: #009bff;
    padding: 12px 20px;
    position: relative;
    overflow: hidden;
}
.info-body-top-content{
    float: right;
    line-height: 30px;
    color: #fff;
    font-size: 1.4em;
}
.info-body-list{
    padding: 10px 10px;
    overflow: hidden;
}
.info-body-list-block{
    padding: 0 30px 30px 10px;
    height: 118px;
    margin-bottom: 30px;
}
.left-img{
    width: 210px;
    height: 118.13px;
    float: left;
    background-color: #000;
}
.list-block-right{
    margin-left: 230px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column
}
.block-right-title{
    line-height: 28px;
    font-weight: normal;
    color: #333;
}
.block-right-description{
    height: 40px;
    position: relative;
    overflow: hidden;
    font-size: 14px;
    display: block;
    color: #999;
    line-height: 25px;
    overflow: hidden;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    display: inline-block;   
    white-space: nowrap;  
    width: 800px;   
    overflow: hidden;   
    -o-text-overflow:ellipsis;   
       text-overflow:ellipsis;
}
.block-right-foot{
    position: relative;
    width: 100%;
    display: block;
    font-size: 14px;
    p{
        position: relative;
        color: #999;
        line-height: 25px;
        overflow: hidden;
    }
    span{
        float: left;
        padding: 0 15px 0 0 ;
    }
    i{
        float: left;
    }
}

// 法律法规页面
.law-body{
    display: block;
}
.law-body-top{
    background-color: #7CB342;
    padding: 12px 20px;
    position: relative;
    overflow: hidden;
}
.law-body-top-content{
    float: right;
    line-height: 30px;
    color: #fff;
    font-size: 1.4em;
}
.law-body-list{
    padding: 10px 10px;
    overflow: hidden;
}
.law-body-list-block{
    padding: 0 30px 30px 10px;
    height: 118px;
    margin-bottom: 30px;
}
.left-img{
    width: 210px;
    height: 118.13px;
    float: left;
    background-color: #000;
}
.list-block-right{
    margin-left: 230px;
}
.block-right-title{
    line-height: 28px;
    font-weight: normal;
    color: #333;
    float: left;
}
.block-right-description{
    height: 40px;
    float: left;
    position: relative;
    overflow: hidden;
    font-size: 14px;
    display: block;
    color: #999;
    line-height: 25px;
    overflow: hidden;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
}
.block-right-foot{
    position: relative;
    width: 100%;
    display: block;
    float: left;
    font-size: 14px;
    p{
        position: relative;
        color: #999;
        line-height: 25px;
        overflow: hidden;
    }
    span{
        float: left;
    }
    i{
        float: left;
    }
}


// 拍卖知识样式
.knowledge-body{
    display: block;
}
.knowledge-body-top{
    background-color: #6D4C41;
    padding: 12px 20px;
    position: relative;
    overflow: hidden;
}
.knowledge-body-top-content{
    float: right;
    line-height: 30px;
    color: #fff;
    font-size: 1.4em;
}
.knowledge-body-list{
    padding: 10px 10px;
    overflow: hidden;
}
.knowledge-body-list-block{
    padding: 0 30px 30px 10px;
    height: 118px;
    margin-bottom: 30px;
}
.left-img{
    width: 210px;
    height: 118.13px;
    float: left;
    background-color: #000;
}
.list-block-right{
    margin-left: 230px;
}
.block-right-title{
    line-height: 28px;
    font-weight: normal;
    color: #333;
    float: left;
}
.block-right-description{
    height: 40px;
    float: left;
    position: relative;
    overflow: hidden;
    font-size: 14px;
    display: block;
    color: #999;
    line-height: 25px;
    overflow: hidden;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
}
.block-right-foot{
    position: relative;
    width: 100%;
    display: block;
    float: left;
    font-size: 14px;
    p{
        position: relative;
        color: #999;
        line-height: 25px;
        overflow: hidden;
    }
    span{
        float: left;
    }
    i{
        float: left;
    }
}

// 拍卖预告页面样式
.preview-body{
    display: block;
}
.preview-body-top{
    background-color: #e53935;
    padding: 12px 20px;
    position: relative;
    overflow: hidden;
}
.preview-body-top-content{
    float: right;
    line-height: 30px;
    color: #fff;
    font-size: 1.4em;
}
.preview-body-list{
    padding: 10px 10px;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.preview-body-list-card{
    padding: 0;
    width: 330px;
    margin: 0 10px 20px;
    text-decoration: none;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-box-shadow: 0 0 1px transparent;
            box-shadow: 0 0 1px transparent;
    position: relative;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
       transition-duration: 0.3s;
    -webkit-transition-property: transform;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -o-transition-property: transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    ul{
        text-align: center;
    }
    .preview-card-name{
        font-size: 24px;
    }
    li{
        text-align: center;
        padding: 5px;
        font-size: 18px;
        font-weight: 550;
    }
}
.preview-body-list-card:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, transparent 80%);
  background: -o-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, transparent 80%);
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, transparent 80%);
  /* W3C */
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
     transition-duration: 0.3s;
  -webkit-transition-property: transform, opacity;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  -o-transition-property: transform, opacity;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
}
.preview-body-list-card:hover, .preview-body-list-card:focus, .preview-body-list-card:active {
  -webkit-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
      transform: translateY(-5px);
  /* move the element up by 5px */
}
.preview-body-list-card:hover:before, .preview-body-list-card:focus:before, .preview-body-list-card:active:before {
  opacity: 1;
  -webkit-transform: translateY(5px);
  -ms-transform: translateY(5px);
      transform: translateY(5px);
  /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}
.preview-card-img{
    width: 100%;
    height: 330px;
    overflow: hidden;
}

.pass-enter-active {
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}
.pass-leave-active {
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}
.pass-enter {
  -webkit-transform: translateX(-500px);
      -ms-transform: translateX(-500px);
          transform: translateX(-500px);
}
.pass-leave-active {
  -webkit-transform: translateY(-500px);
      -ms-transform: translateY(-500px);
          transform: translateY(-500px);
}