

// info页面样式
.info-body{
	display: block;
}
.info-body-top{
    background-color: #009bff;
	padding: 12px 20px;
    position: relative;
    overflow: hidden;
}
.info-body-top-content{
	float: right;
    line-height: 30px;
    color: #fff;
    font-size: 1.4em;
}
.info-body-list{
	padding: 10px 10px;
    overflow: hidden;
}
.info-body-list-block{
	padding: 0 30px 30px 10px;
    height: 118px;
    margin-bottom: 30px;
}
.left-img{
	width: 210px;
	height: 118.13px;
	float: left;
	background-color: #000;
}
.list-block-right{
	margin-left: 230px;
    display: flex;
    flex-direction: column
}
.block-right-title{
	line-height: 28px;
    font-weight: normal;
    color: #333;
}
.block-right-description{
	height: 40px;
	position: relative;
    overflow: hidden;
    font-size: 14px;
    display: block;
    color: #999;
    line-height: 25px;
    overflow: hidden;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    display: inline-block;   
    white-space: nowrap;  
    width: 800px;   
    overflow: hidden;   
    text-overflow:ellipsis;
}
.block-right-foot{
	position: relative;
    width: 100%;
    display: block;
    font-size: 14px;
    p{
    	position: relative;
	    color: #999;
	    line-height: 25px;
	    overflow: hidden;
    }
    span{
    	float: left;
    }
    i{
    	float: left;
    }
}

// 法律法规页面
.law-body{
    display: block;
}
.law-body-top{
    background-color: #7CB342;
    padding: 12px 20px;
    position: relative;
    overflow: hidden;
}
.law-body-top-content{
    float: right;
    line-height: 30px;
    color: #fff;
    font-size: 1.4em;
}
.law-body-list{
    padding: 10px 10px;
    overflow: hidden;
}
.law-body-list-block{
    padding: 0 30px 30px 10px;
    height: 118px;
    margin-bottom: 30px;
}
.left-img{
    width: 210px;
    height: 118.13px;
    float: left;
    background-color: #000;
}
.list-block-right{
    margin-left: 230px;
}
.block-right-title{
    line-height: 28px;
    font-weight: normal;
    color: #333;
    float: left;
}
.block-right-description{
    height: 40px;
    float: left;
    position: relative;
    overflow: hidden;
    font-size: 14px;
    display: block;
    color: #999;
    line-height: 25px;
    overflow: hidden;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
}
.block-right-foot{
    position: relative;
    width: 100%;
    display: block;
    float: left;
    font-size: 14px;
    p{
        position: relative;
        color: #999;
        line-height: 25px;
        overflow: hidden;
    }
    span{
        float: left;
    }
    i{
        float: left;
    }
}


// 拍卖知识样式
.knowledge-body{
    display: block;
}
.knowledge-body-top{
    background-color: #6D4C41;
    padding: 12px 20px;
    position: relative;
    overflow: hidden;
}
.knowledge-body-top-content{
    float: right;
    line-height: 30px;
    color: #fff;
    font-size: 1.4em;
}
.knowledge-body-list{
    padding: 10px 10px;
    overflow: hidden;
}
.knowledge-body-list-block{
    padding: 0 30px 30px 10px;
    height: 118px;
    margin-bottom: 30px;
}
.left-img{
    width: 210px;
    height: 118.13px;
    float: left;
    background-color: #000;
}
.list-block-right{
    margin-left: 230px;
}
.block-right-title{
    line-height: 28px;
    font-weight: normal;
    color: #333;
    float: left;
}
.block-right-description{
    height: 40px;
    float: left;
    position: relative;
    overflow: hidden;
    font-size: 14px;
    display: block;
    color: #999;
    line-height: 25px;
    overflow: hidden;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
}
.block-right-foot{
    position: relative;
    width: 100%;
    display: block;
    float: left;
    font-size: 14px;
    p{
        position: relative;
        color: #999;
        line-height: 25px;
        overflow: hidden;
    }
    span{
        float: left;
    }
    i{
        float: left;
    }
}

// 拍卖预告页面样式
.preview-body{
    display: block;
}
.preview-body-top{
    background-color: #e53935;
    padding: 12px 20px;
    position: relative;
    overflow: hidden;
}
.preview-body-top-content{
    float: right;
    line-height: 30px;
    color: #fff;
    font-size: 1.4em;
}
.preview-body-list{
    padding: 10px 10px;
    overflow: hidden;
}
.preview-body-list-card:hover{
    float: left;
    padding: 0;
    width: 330px;
    height: 430px;
    margin: 0 10px 20px;
    box-shadow:  0 2px 5px rgba(34,34,34,0.38);
}
.preview-body-list-card{
    float: left;
    padding: 0;
    width: 330px;
    height: 430px;
    margin: 0 10px 20px;
    text-decoration: none;
    box-shadow: 0 0 1px rgba(0, 0, 0, .3);
    ul{
        text-align: center;
    }
    li{
        padding: 5px;
        text-align: left;
        font-size: 18px;
        font-weight: 550;
    }
}
.preview-card-img{
    width: 100%;
    height: 330px;
    overflow: hidden;
}

.pass-enter-active {
  transition: all .5s ease;
}
.pass-leave-active {
  transition: all .5s ease;
}
.pass-enter {
  transform: translateX(-500px);
}
.pass-leave-active {
  transform: translateY(-500px);
}