@head-font: 24px;
@small-font: 14px;


.message {
	margin-top: 20px;
	width: 100%;
	background-color: #fff;
}

.line {
	line-height: @head-font;
	margin: 0 auto;
	width: 20%;
	height: 1px;
	background-color: #000;
}

.message-inner-head {
	position: relative;
	a{
		font-size: @head-font;
		letter-spacing: 4px;
	}
	p{
		font-size: @small-font;
		opacity:0.5;
	}
}

.message-inner-top{
	background-color: #e8edf1;
	.message-inner-top-background{
		position: relative;
		width: 1200px;
		height: 382px;
		padding: 30px 0;
		margin: 0 auto;
		.message-inner-top-left{
			position:relative;
			float: left;
			width: 80%;
		}
		.message-inner-top-right{
			position:relative;
			float: right;
			width: 20%;
		}
	}
}

.message-inner-middle{
	position: relative;
	width: 100%;
	margin: 0 auto;
	padding: 3em 0 ;
	.message-inner-middle-title{
		width: 1200px;
		font-size: 1.2em;
		margin: 0 auto;
	}
	.message-inner-middle-body{
		width: 1200px;
		height: 80%;
		margin: 0 auto;
		margin-top: 1.5em;
		clear: both;
		display: -webkit-box;
	    display: -webkit-flex;
	    display: -ms-flexbox;
	    display: flex;
	    -webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	    -webkit-box-pack: start;
	    -webkit-justify-content: space-between;
	    -ms-flex-pack: start;
	    justify-content:space-between;
	    transition: all .5s ease-in-out;
		li{
			width: 20%;
			float: left;
			padding-left: 0.625em;
			padding-right: 0.625em;
			margin-bottom: 1em;
		}
		.listcard{
			-webkit-box-shadow: 2px 2px 5px;
			border-top: 1px solid rgba(34,34,34,0.12);
            box-shadow:  0 2px 5px rgba(34,34,34,0.38);
			position: relative;
			background-color: #fff;
			color: #222;
			overflow: hidden;
			z-index: 0;
			.pic{
			width: 100%;
			height: 260px;
			margin: 0 auto;
			display: block;
			.card-img{
				width: 100%;
				height: 100%;
			}
		}
		.mainmsg{
			display: -webkit-box;
			display: -webkit-flex;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			-webkit-flex-direction: column;
			-ms-flex-direction: column;
			flex-direction: column;
			-webkit-box-flex: 1;
			-webkit-flex: 1 0 auto;
			-ms-flex: 1 0 auto;
			flex: 1 0 auto;
			padding: 1em;
			.auctionname{
				float: left;
				text-align: left;
				position: relative;
				font-size: 1.5em;
				line-height: 1.1;
				font-weight: 600;
				margin-bottom: 0.3em;
				overflow-wrap: break-word;
				word-wrap: break-word;
			}
			.auctiondate{
				text-align: left;
				margin-top: 0.3em;
				font-size: 1em;
				color: #727272;
			}
			.detailbtn{
				width: 120px;
				margin-top: 0.3em;
				border-radius: 0.5em;
			}
		}
	}}
	.message-inner-foot{
		background-color: #e8edf1;
		.message-inner-foot-background{
			padding: 3em 0;
			clear: both;
			width: 1200px;
			margin: 0 auto;
			overflow: hidden;
			margin-top: 3em;
		}
		.message-inner-foot-title{
			font-weight: 600;
			text-align: center;
			margin-bottom: 1.5em;
		}
		.message-inner-foot-body{
			li{
				float: left;
				font-weight: 600;
				margin-bottom: 1.5em;
			}
			.mifb-img{
				width: 100%;
				margin-bottom: 2em;
				.showimg{
					width: 60%;
					height: 20em;
				}
			}
			p{
				display: block;
				color: #727272;
			    -webkit-margin-before: 1em;
			    -webkit-margin-after: 1em;
			    -webkit-margin-start: 0px;
			    -webkit-margin-end: 0px;
			}
			.auction-knowledge{
				margin-top: 3em;
				font-size: 1.3em;
				font-weight: 600;
				width: 140px;
			}
		}
	}
}

.hideadmin{
	display: none;
}