.addinfo {
  width: 1200px;
  margin: 0 auto;
}
.addinfo .addinfo-wrap {
  padding: 2em 0;
}
.addinfo .addinfo-wrap .addinfo-content {
  position: relative;
  border: 1px solid #c3cbd6;
}
.addinfo .addinfo-wrap .addinfo-content .addinfo-content-head-title {
  padding: 15px 10px;
  font-size: 24px;
  font-family: Main Head;
}
.addinfo .addinfo-wrap .addinfo-content .addinfo-btn {
  top: 10px;
  right: 10px;
  position: absolute;
  font-size: 16px;
  font-family: Main Head;
}
.addinfo .addinfo-wrap .addinfo-content .addinfo-content-addtitle {
  padding: 15px 10px;
}
.addinfo .addinfo-wrap .addinfo-content .addinfo-content-addtitle .input-title {
  text-align: center;
  width: 100%;
}
.addinfo .addinfo-wrap .addinfo-content .addinfo-content-adddescription {
  padding: 15px 10px;
}
.addinfo .addinfo-wrap .addinfo-content .addinfo-content-adddescription .input-description {
  width: 100%;
}
.addinfo .addinfo-wrap .addinfo-content .addinfo-content-body {
  padding: 15px 10px;
}
.addinfo .addinfo-wrap .addinfo-content h3 {
  padding: 15px 0;
}
.addinfo .addinfo-wrap .addinfo-content h2 {
  padding: 30px 0 15px 0;
}
.addinfo .addinfo-wrap .addinfo-content .addinfo-content-preview {
  min-height: 200px;
  padding: 15px 10px;
  border: 1px solid #c3cbd6;
  height: 100%;
  text-indent: 25px;
  color: #657180;
  font-family: Text;
  line-height: 2;
}
.addpreview {
  width: 1200px;
  margin: 0 auto;
}
.addpreview .addpreview-wrap {
  padding: 2em 0;
}
.addpreview .addpreview-wrap .addpreview-content {
  position: relative;
  border: 1px solid #c3cbd6;
}
.addpreview .addpreview-wrap .addpreview-content .addpreview-content-head-title {
  padding: 15px 10px;
  font-size: 24px;
  font-family: Main Head;
}
.addpreview .addpreview-wrap .addpreview-content .addpreview-btn {
  top: 10px;
  right: 10px;
  position: absolute;
  font-size: 16px;
  font-family: Main Head;
}
.addpreview .addpreview-wrap .addpreview-content .addpreview-content-addtitle {
  padding: 15px 10px;
}
.addpreview .addpreview-wrap .addpreview-content .addpreview-content-addtitle .input-title {
  width: 100%;
}
.addpreview .addpreview-wrap .addpreview-content .addpreview-content-adddescription {
  padding: 15px 10px;
}
.addpreview .addpreview-wrap .addpreview-content .addpreview-content-adddescription .input-description {
  width: 100%;
}
.addpreview .addpreview-wrap .addpreview-content .timepicker {
  width: 100%;
  display: inline-flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: 25px 10px 50px 10px;
}
.addpreview .addpreview-wrap .addpreview-content .timepicker .timepicker-title {
  font-size: 22px;
  font-family: 16px;
}
.addpreview .addpreview-wrap .addpreview-content .timepicker .timepicker-date {
  padding: 0 30px;
}
.addpreview .addpreview-wrap .addpreview-content .timepicker .timepicker-show {
  color: #657180;
  font-size: 16px;
  font-family: 16px;
}
.addpreview .addpreview-wrap .addpreview-content .addpreview-content-body {
  padding: 15px 10px;
}
.addpreview .addpreview-wrap .addpreview-content h3 {
  padding: 15px 0;
}
.addpreview .addpreview-wrap .addpreview-content h2 {
  padding: 30px 0 15px 0;
}
.addpreview .addpreview-wrap .addpreview-content .addpreview-content-preview {
  min-height: 200px;
  padding: 15px 10px;
  border: 1px solid #c3cbd6;
  height: 100%;
  text-indent: 25px;
  color: #657180;
  font-family: Text;
  line-height: 2;
}
