.hotnews {
  color: #ffffff;
  border-radius: 4px;
  height: 322px;
  transition: all 0.5s ease-in-out;
  margin-top: 9px;
}
.hotnews .hotnewsshow {
  display: none;
}
.hotnews .hotnews-block {
  cursor: pointer;
  width: 100%;
  height: 80px;
}
.hotnews .hotnews-block .hotnews-block-left {
  display: block;
  position: absolute;
  float: left;
  width: 25%;
  height: 80px;
  line-height: 80px;
}
.hotnews .hotnews-block .hotnews-block-right {
  position: relative;
  float: right;
  width: 75%;
  height: 80px;
  background-color: #fff;
  border-bottom: 1px solid rgba(52, 52, 52, 0.15);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.hotnews .hotnews-block .hotnews-block-right .hotnews-title {
  padding-top: 15px;
  margin-left: 20px;
  font-size: 16px;
  color: #ff0000;
}
.hotnews .hotnews-block .hotnews-block-right .hotnews-msg {
  text-indent: 14px;
  margin-left: 20px;
  font-size: 14px;
  color: #000000;
  margin-top: 10px;
  margin-bottom: 10px;
}
.block0 {
  background-color: #C2185Bs;
}
.block1 {
  background-color: black;
}
.block2 {
  background-color: black;
}
.block3 {
  background-color: black;
}
.block0:hover {
  background-color: #03A9F4;
}
.block1:hover {
  background-color: #FFEB3B;
}
.block2:hover {
  background-color: #03A9F4;
}
.block3:hover {
  background-color: #FFEB3B;
}
.block0,
.block2 {
  background-color: #00BCD4;
}
.block1,
.block3 {
  background-color: #FFC107;
}
