.detailnav {
  height: 100%;
}
.detailnav h1 {
  font-size: 4em;
  font-weight: 600;
  padding: 15px;
  vertical-align: baseline;
  color: #fff;
}
.detailnav ul {
  overflow: hidden;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  border-bottom: 1px solid rgba(255, 255, 225, 0.14);
}
.detailnav li:hover {
  cursor: pointer;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}
.detailnav li {
  font-size: 15px;
  font-weight: 400;
  padding: 10px;
  color: #fff;
  border-top: 1px solid rgba(255, 255, 225, 0.14);
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
