.message {
  width: 100%;
  background-color: #fff;
  text-align: center;
}
.message-inner {
  z-index: 999;
}
.line {
  line-height: 24px;
  margin: 0 auto;
  width: 20%;
  height: 1px;
  background-color: #000;
}
.message-inner-head {
  padding: 60px 0;
  position: relative;
}
.message-inner-head a {
  font-size: 24px;
  letter-spacing: 4px;
}
.message-inner-head p {
  font-size: 14px;
  opacity: 0.5;
}
.message-inner-top {
  background-color: #e8edf1;
}
.message-inner-top .message-inner-top-background {
  position: relative;
  width: 1200px;
  height: 382px;
  padding: 20px 0;
  margin: 0 auto;
}
.message-inner-top .message-inner-top-background .message-inner-top-left {
  position: relative;
  float: left;
  width: 69%;
}
.message-inner-top .message-inner-top-background .message-inner-top-right {
  position: relative;
  float: right;
  width: 30%;
}
.message-inner-middle {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 3em 0 ;
}
.message-inner-middle .message-inner-middle-title {
  width: 1200px;
  font-size: 1.2em;
  margin: 0 auto;
}
.message-inner-middle .message-inner-middle-body {
  width: 1200px;
  height: 80%;
  margin: 0 auto;
  margin-top: 1.5em;
  clear: both;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: space-between;
  -ms-flex-pack: start;
  justify-content: space-between;
  transition: all 0.5s ease-in-out;
}
.message-inner-middle .message-inner-middle-body li {
  width: 20%;
  float: left;
  padding-left: 0.625em;
  padding-right: 0.625em;
  margin-bottom: 1em;
}
.message-inner-middle .message-inner-middle-body .listcard {
  -webkit-box-shadow: 2px 2px 5px;
  box-shadow: 0 2px 5px rgba(34, 34, 34, 0.38);
  background-color: #fff;
  color: #222;
  cursor: pointer;
  margin-bottom: 20px;
  border-radius: 4px;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}
.message-inner-middle .message-inner-middle-body .listcard .pic {
  width: 200%;
  height: 260px;
  margin: 0 auto;
  position: relative;
  display: block;
  overflow: hidden;
  display: inline-block;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.message-inner-middle .message-inner-middle-body .listcard .pic .card-img {
  position: absolute;
  right: 50%;
  width: 50%;
  height: 100%;
}
.message-inner-middle .message-inner-middle-body .listcard .pic .detailwrap {
  background: url(http://www.daoyouz.com/picture/abed28443746d19e427bae2564cc19a4.jpg) repeat;
  opacity: .3;
  color: #fff;
  position: absolute;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
}
.message-inner-middle .message-inner-middle-body .listcard .pic .detailwrap ul {
  padding: 10px 5px;
  width: 201px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  overflow: inherit;
}
.message-inner-middle .message-inner-middle-body .listcard .pic .detailwrap ul li {
  width: 201px;
  text-align: left;
}
.message-inner-middle .message-inner-middle-body .listcard .pic:hover {
  -webkit-transform: translateX(-201px);
  transform: translateX(-201px);
  /* move the element up by 5px */
}
.message-inner-middle .message-inner-middle-body .listcard:hover,
.message-inner-middle .message-inner-middle-body .listcard:focus,
.message-inner-middle .message-inner-middle-body .listcard:active {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  /* move the element up by 5px */
}
.message-inner-middle .message-inner-middle-body .listcard:hover:before,
.message-inner-middle .message-inner-middle-body .listcard:focus:before,
.message-inner-middle .message-inner-middle-body .listcard:active:before {
  opacity: 1;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
  /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}
.message-inner-middle .message-inner-middle-body .mainmsg {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  padding: 1em;
}
.message-inner-middle .message-inner-middle-body .mainmsg .auctionname {
  float: left;
  text-align: left;
  position: relative;
  font-size: 1.5em;
  line-height: 1.1;
  font-weight: 600;
  margin-bottom: 0.3em;
  overflow-wrap: break-word;
  word-wrap: break-word;
}
.message-inner-middle .message-inner-middle-body .mainmsg .auctiondate {
  text-align: left;
  margin-top: 0.3em;
  font-size: 1em;
  color: #727272;
}
.message-inner-middle .message-inner-middle-body .mainmsg .detailbtn {
  width: 120px;
  margin-top: 0.3em;
  border-radius: 0.5em;
}
.message-inner-foot {
  background-color: #e8edf1;
}
.message-inner-foot .message-inner-foot-background {
  padding: 3em 0;
  clear: both;
  width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  margin-top: 3em;
}
.message-inner-foot .message-inner-foot-title {
  z-index: 1000;
  font-weight: 600;
  text-align: center;
  margin-bottom: 1.5em;
}
.message-inner-foot .message-inner-foot-body {
  z-index: 1000;
}
.message-inner-foot .message-inner-foot-body li {
  z-index: 1000;
  float: left;
  font-weight: 600;
  margin-bottom: 1.5em;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.message-inner-foot .message-inner-foot-body li:hover,
.message-inner-foot .message-inner-foot-body li:focus,
.message-inner-foot .message-inner-foot-body li:active {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}
.message-inner-foot .message-inner-foot-body .mifb-img {
  z-index: 1000;
  width: 100%;
  margin-bottom: 2em;
}
.message-inner-foot .message-inner-foot-body .mifb-img .showimg {
  z-index: 1000;
  width: 60%;
  height: 20em;
}
.message-inner-foot .message-inner-foot-body p {
  z-index: 1000;
  display: block;
  color: #727272;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}
.message-inner-foot .message-inner-foot-body .auction-knowledge {
  z-index: 1000;
  margin-top: 3em;
  font-size: 1.3em;
  font-weight: 600;
  width: 140px;
}
.hideadmin {
  display: none;
}
