.message
{
    width: 100%;
    height: 800px;
    margin-top: 4px;

    background-color: #f8f8ff;
}

.message .mes_tit
{
    width: 100%;
    height: 50px;
    padding: 20px;

    text-align: center;
}

.message .mes_tit .titimg
{
    display: inline-block;

    width: 36px;
    height: 36px;

    background-size: 100%;
}

.message .mes_tit a,
em
{
    font-size: 18px;
    font-weight: bold;
    line-height: 50px;

    text-align: center;

    color: black;
}

.message .mes_body
{
    width: 1200px;
    height: 680px;
    margin: 0 auto;
}

.message .mes_body .mes_bodyone,
.mes_bodytwo
{
    width: 598px;
    height: 100%;

    border-radius: 16px;
    background-color: #fff;
}

.message .mes_body .mes_bodyone
{
    float: left;
}

.message .mes_body .mes_bodytwo
{
    float: right;
}

.message .mes_body .mes_bodyone #pm .pm_nav
{
    width: 598px;
    height: 50px;

    border-radius: 16px 16px 0 0;
}

.message .mes_body .mes_bodyone #pm .pm_nav .pm_tit
{
    font-size: 14px;
    line-height: 24px;

    float: left;

    width: 80px;
    height: 24px;
    margin: 20px;
    margin-left: 40px;

    text-align: center;

    color: white;
    border-radius: 16px;
    background-color: #76ee00;
}

.message .mes_body .mes_bodyone #pm .pm_nav .pmmore
{
    font-size: 14px;
    line-height: 24px;

    float: right;

    width: 80px;
    height: 24px;
    margin: 20px;
    margin-left: 40px;

    text-align: center;

    color: white;
    color: #458b74;
    border-radius: 16px;
}

.message .mes_body .mes_bodyone #pm .hotpm
{
    width: 598px;
    height: 300px;
}

.message .mes_body .mes_bodyone #pm .hotpm .hotpm_nav
{
    width: 598px;
    height: 40px;
}

.message .mes_body .mes_bodyone #pm .hotpm .hotpm_nav .hotpm_tit
{
    font-size: 14px;
    font-size: 14px;
    line-height: 40px;

    text-align: center;

    color: #cdc9c9;
}

.message .mes_body .mes_bodyone #pm .hotpm .hotpmbody td img
{
    border-radius: 4px;
}







.message .mes_body .mes_bodyone #pm .otherpm
{
    width: 598px;
    height: 300px;
}

.message .mes_body .mes_bodyone #pm .otherpm .otherpm_nav
{
    width: 598px;
    height: 40px;
}

.message .mes_body .mes_bodyone #pm .otherpm .otherpm_nav .otherpm_tit
{
    font-size: 14px;
    font-size: 14px;
    line-height: 40px;

    text-align: center;

    color: #cdc9c9;
}

.message .mes_body .mes_bodyone #pm .otherpm .otherpm_body .tableleft
{
    border-right: 1px solid #cdc9c9;
}

.message .mes_body .mes_bodyone #pm .otherpm .otherpm_body td
{
    width: 299px;
    height: 15px;

    text-align: center;

    color: #cdc9c9;
}

.message .mes_body .mes_bodytwo #zs .zs_nav
{
    width: 598px;
    height: 50px;

    border-radius: 16px 16px 0 0;
}

.message .mes_body .mes_bodytwo #zs .zs_nav .zs_tit
{
    font-size: 14px;
    line-height: 24px;

    float: left;

    width: 80px;
    height: 24px;
    margin: 20px;
    margin-left: 40px;

    text-align: center;

    color: white;
    border-radius: 16px;
    background-color: #76ee00;
}

.message .mes_body .mes_bodytwo #zs .zs_nav .zsmore
{
    font-size: 14px;
    line-height: 24px;

    float: right;

    width: 80px;
    height: 24px;
    margin: 20px;
    margin-left: 40px;

    text-align: center;

    color: white;
    color: #458b74;
    border-radius: 16px;
}

.message .mes_body .mes_bodytwo #zs .hotzs
{
    width: 598px;
    height: 300px;
}

.message .mes_body .mes_bodytwo #zs .hotzs .hotzs_nav
{
    width: 598px;
    height: 40px;
}

.message .mes_body .mes_bodytwo #zs .hotzs .hotzs_nav .hotzs_tit
{
    font-size: 14px;
    font-size: 14px;
    line-height: 40px;

    text-align: center;

    color: #cdc9c9;
}

.message .mes_body .mes_bodytwo #zs .hotzs .hotzsbody td img
{
    border-radius: 4px;
}





.message .mes_body .mes_bodytwo #zs .otherzs
{
    width: 598px;
    height: 300px;
}

.message .mes_body .mes_bodytwo #zs .otherzs .otherzs_nav
{
    width: 598px;
    height: 40px;
}

.message .mes_body .mes_bodytwo #zs .otherzs .otherzs_nav .otherzs_tit
{
    font-size: 14px;
    font-size: 14px;
    line-height: 40px;

    text-align: center;

    color: #cdc9c9;
}

.message .mes_body .mes_bodytwo #zs .otherzs .otherzs_body .tableleft
{
    border-right: 1px solid #cdc9c9;
}

.message .mes_body .mes_bodytwo #zs .otherzs .otherzs_body td
{
    width: 299px;
    height: 15px;

    text-align: center;

    color: #cdc9c9;
}
